.information
  .row
    .medium-2.large-2.columns
      img.information__image(src='#' title='Mike Ivonin' alt='Avatar')
    .medium-6.large-6.columns
      form.information__form
        input.information__item(type='text' value='Михаил')
        input.information__item(type='text' value='26.12.1987')
        input.information__item(type='text' value='Омск')
        input.information__item.information__item_margin-bottom-none(type='text' value='Michael@drummer.ru')
      // /.information__form
    // /.columns
  // /.row
// /.information