section.skills
  h3.skills__heading Навыки
  .row
    form.skills__form
      .small-4.medium-2.large-2.columns
        .skills__item
          input(type='checkbox' id='html5' checked)
          label(for='html5')
        p.skills__text Html5
        .skills__item
          input(type='checkbox' id='css3' checked)
          label(for='css3')
        p.skills__text Css3
        .skills__item
          input(type='checkbox' id='bem' checked)
          label(for='bem')
        p.skills__text.skills__text_margin-bottom-none.skills__text_small-margin-bottom Бэм
      // /.columns
      .small-4.medium-2.large-2.columns
        .skills__item
          input(type='checkbox' id='sass' checked)
          label(for='sass')
        p.skills__text Sass
        .skills__item
          input(type='checkbox' id='less' checked)
          label(for='less')
        p.skills__text Less
        .skills__item
          input(type='checkbox' id='gulp' checked)
          label(for='gulp')
        p.skills__text.skills__text_margin-bottom-none.skills__text_small-margin-bottom Gulp
      // /.columns
      .small-4.medium-2.large-2.columns
        .skills__item
          input(type='checkbox' id='vanillajs')
          label(for='vanillajs')
        p.skills__text Vanillajs
        .skills__item
          input(type='checkbox' id='angular')
          label(for='angular')
        p.skills__text Angular
        .skills__item
          input(type='checkbox' id='jquery' checked)
          label(for='jquery')
        p.skills__text.skills__text_margin-bottom-none Jquery
      // /.columns
      .small-4.medium-2.large-2.columns
        .skills__item
          input(type='checkbox' id='git' checked)
          label(for='git')
        p.skills__text Git
        .skills__item
          input(type='checkbox' id='foundation')
          label(for='foundation')
        p.skills__text Foundation
        .skills__item
          input(type='checkbox' id='bootstrap' checked)
          label(for='bootstrap')
        p.skills__text.skills__text_margin-bottom-none Bootstrap
      // /.columns
    // /.skills__form
  // /.row
// /.skills