section.skills
  .row
    .medium-2.large-2.columns.end
      h3.skills__heading Навыки
  // /.row
  .row
    form.skills__form
      .large-2.columns
        .skills__item
          input(type='checkbox' id='html5' checked)
          label(for='html5')
        span.skills__text Html5
      // /.columns
      .large-2.columns
      // /.columns
      .large-2.columns
      // /.columns
      .large-2.columns
      // /.columns
    // /.skills__form
  // /.row
// /.skills