.information
  @include section-default
  padding-top: $vertical-gutter * 3.75
  padding-bottom: $vertical-gutter * 3.75
  position: relative

  &__icon-stamp
    width: rem-calc(169)
    height: $vertical-gutter * 19
    position: absolute
    right: rem-calc(4)
    bottom: $vertical-gutter * 1.375

  &__item
    @include text-default
    height: $input-height
    padding: $input-padding-vertical 0
    border: none
    box-shadow: none
    border-bottom: $input-border
    margin-bottom: $vertical-gutter * 3.125

    &:focus
      border: none
      box-shadow: none
      border-bottom: $input-border-focus

  &__item_margin-bottom-none
    margin-bottom: 0