.js-level
  @include section-default
  padding-top: $vertical-gutter * 7.25
  padding-bottom: $vertical-gutter * 7.25

  &:hover

    .js-level__indicator-block
      animation: pegIt 2s ease forwards

  &__info-block
    display: inline-block
    position: relative

  &__icon-meter
    width: rem-calc(254)
    height: $vertical-gutter * 16

  &__indicator-block
    width: rem-calc(19)
    height: $vertical-gutter * 2.375
    position: absolute
    bottom: rem-calc(-6)
    left: 50%
    margin-left: rem-calc(-(14 / 2))
    transform: rotateZ(-90deg)

  &__icon-indicator
    width: rem-calc(59)
    height: $vertical-gutter * 5
    margin-top: -($vertical-gutter * 5.75)
    margin-left: rem-calc(-20.7)
    transform: rotateZ(58deg)

  &__heading
    margin-top: $vertical-gutter * 0.75
    line-height: 1.38

  &__counter
    font-size: rem-calc(50)
    color: $blue
    margin-bottom: 0
    font-weight: 900
    line-height: 0.9

@keyframes pegIt
  0%
    transform: rotate(-90deg)
  //16%
    transform: rotate(-(calc(-90 + (180 * 16%)))deg)
  //25%
    transform: rotate(-(calc(-90 + (180 * 25%)))deg)
  //30%
    transform: rotate(-(calc(-90 + (180 * 30%)))deg)
  //36%
    transform: rotate(-(calc(-90 + (180 * 36%)))deg)
  //42%
    transform: rotate(-(calc(-90 + (180 * 42%)))deg)
  50%
    transform: rotate(90deg)
  100%
    transform: rotate(-18deg)