.skills
  @include section-default
  padding-top: $vertical-gutter * 4.375
  padding-bottom: $vertical-gutter * 4.375
  line-height: 1.2

  &__heading
    padding: 0 rem-calc(10)

  &__item
    position: relative
    float: left
    margin-right: rem-calc(8)
    width: rem-calc(19)

    label
      position: absolute
      top: 0
      left: 0
      margin: 0
      border-radius: rem-calc(4)
      width: rem-calc(19)
      height: rem-calc(19)
      background: $light-gray
      cursor: pointer

      &:after
        position: absolute
        top: rem-calc(5)
        left: rem-calc(4)
        content: ''
        border: rem-calc(2) solid $white
        border-top: none
        border-right: none
        width: rem-calc(12)
        height: rem-calc(6)
        background: transparent
        opacity: 0
        transform: rotate(-45deg)

      &:hover
        border: rem-calc(1) solid $blue

    input[type=checkbox]
      visibility: hidden
      margin: 0

      &:checked + label
        border-color: $blue
        background: $blue

      &:checked + label:after
        opacity: 1

      &:checked:hover + label
        border: none
        opacity: 0.8

  &__text
    @include text-default
    overflow: hidden

  &__text_margin-bottom-none
    margin-bottom: 0


@media (max-width: 640px)

  .skills

    &__text_small-margin-bottom
      margin-bottom: $paragraph-margin-bottom