include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Test')
    include pug/styles.pug
  body
    include pug/svg.pug

    .container
      include pug/includes/information
      include pug/includes/skills
    // /.container

    include pug/scripts.pug